.form_exe {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.input {
  font-size: 20px;
  font-family: "Impact, Haettenschweiler, Arial Narrow Bold, sans-serif";
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  width: max-content;
  background-color: lightgoldenrodyellow;
  width: 500px;
}
.text {
  flex-direction: column;
}

.button {
  justify-self: center;
  background-color: lightgreen;
  border-radius: 10px;
}
